th:first-child::after {
    content: " ▲";
}

.select-result {
    display: none;
}
.sql-query {
    font-family: monospace; margin-bottom: 0.5rem;
}
.select-buttons {
    display: flex; flex-wrap: wrap; gap: 0.5rem; margin-bottom: 1rem;
}
th.sort-asc::after {
    content: " ▲";
}

th.sort-desc::after {
    content: " ▼";
}
